$grey1: #F2F2F2;
$grey2: #4F4F4F;
$grey3: #828282;
$grey4: #C4C4C4;
$grey5: #333333;
$grey6: #E0E0E0;
$grey7: #A9A9A9;
$grey8: #BDBDBD;


$white1: #FFF;
$blue1: rgba(47, 128, 237, 0.7);

$component-bradius: 1rem;
$component-padding: 1rem;

$medium: 960px;
$larger: 1200px;
$small: 600px;
